body {
    background:#bbb;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 50vw;
    width: 50vw;
    background:#fff;
    color:#000;
    border:3px solid #fff;
    border-radius:50%;
    background-size: 100%;
    box-shadow:20px 15px 10px #0009, 20px 15px 30px #0009, 5px 5px 10px 0 #0009 inset, 5px 5px 30px 0 #0009 inset;
    font-size:5vw;
}

#hour, #minute, #second, #center {
    position: absolute;
    background: #0001;
    border-radius: 10px;
    transform-origin: bottom;
    background-color: rgb(67, 67, 144);
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
}

#center {
    background:#ddd;
    border-radius:50%;
    width:2vw;
    height:2vw;
    top:50%;
    left:50%;
    border:1px solid #fff;
    transform:translate(-50%,-50%);
    box-shadow:4px 3px 3px #0009, 4px 3px 15px #0009;
}