*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#header{
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;



}
#fakeheader{
    height: 10vh;
    width: 100vw;
}
#page1{
    height: 90vh;
    width: 100vw;
    background-color: blue;
}
#page2{
    height: 90vh;
    width: 100vw;
    background-color: green;
}

.texts{
    margin: 20px;
    color: rgb(6, 6, 123);

}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#logo{
    height: 70%;
    margin: 30px;
    margin-left: 50px;
}
#a p{
    margin: 2px;
}
#a{
    display: flex;
}
#contact{
    margin-left: 20px;
}
#contact p{
    text-align: center;
}
